# 데이터 종류
* 서울시 지하철 호선별 역별 시간대별 승하차 인원 정보
* 서울교통공사_역별 일별 시간대별 승하차인원 정보
* 서울교통공사_1_8호선 역별 일별 시간대별 승객유형별 승하차인원
* 서울시 지하철 호선별 역별 유_무임 승하차 인원 정보
* 서울교통공사_지하철혼잡도정보
* 서울교통공사_1회권 외국인 일별통행통계
* 서울교통공사_수송순위
* 서울교통공사_월별 환승유입인원
* 서울교통공사_환승역_환승인원정보
* 서울교통공사_환승역거리 소요시간 정보
* 서울교통공사_열차운행현황
* 서울교통공사_역사운영 현황
* 서울교통공사_역코드로 주변 버스정류장 검색
* 종관기상관측(ASOS)

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import os
# 한글 폰트
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
# 모든 CSV 파일을 불러오기.
path = r"C:\Users\james\DATA_LAB\underground\data"

dataframes = {}
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        try:
            df = pd.read_csv(file_path, encoding='euc-kr')  
        except UnicodeDecodeError:
            df = pd.read_csv(file_path, encoding='utf-8') 
        dataframes[filename] = df

# 지하철 데이터

## **서울시 지하철 호선별 역별 시간대별 승하차 인원 정보**
- 교통카드(선후불교통카드 및 1회용 교통카드)를 이용한 지하철 호선별 역별(1~9호선, 서울시 관할 운송기관에 한함) 시간대별 승하차인원을 나타내는 정보
- 데이터 기간 : 2015.01-2024.08
- 데이터 출처 : 서울 열린데이터광장
- 데이터 단위 : 월단위
- 아이디어 : 주 활용 데이터 예상
- 링크 : [link](https://data.seoul.go.kr/dataList/OA-12252/S/1/datasetView.do)

In [3]:
df1 = dataframes['서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv']
df1.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202408,1호선,동대문,377,11,10496,1714,8449,6119,14123,...,8678,788,2474,4,252,0,0,0,0,20240903
1,202408,1호선,동묘앞,190,3,2817,1051,3474,5084,8230,...,4548,114,1734,1,209,0,0,0,0,20240903
2,202408,1호선,서울역,638,20,8351,8709,13572,53281,38697,...,12715,2750,3805,0,195,0,0,0,0,20240903
3,202408,1호선,시청,51,4,1913,5068,3880,24339,7694,...,3760,458,976,2,31,0,0,0,0,20240903
4,202408,1호선,신설동,263,22,9154,2446,9760,9764,21316,...,9141,374,2635,0,4,0,1,0,0,20240903

## **서울교통공사_역별 일별 시간대별 승하차인원 정보**
- 교통카드(선후불교통카드 및 1회용 교통카드)를 이용한 지하철 호선별 역별(1~9호선, 서울시 관할 운송기관에 한함) 시간대별 승하차인원을 나타내는 정보
- 데이터 기간 : 2015.01-2024.07
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 일단위
- 아이디어 : 주 활용 데이터 예상
- 링크 : [link](https://www.data.go.kr/data/15048032/fileData.do)

In [4]:
df2 = dataframes['서울교통공사_역별 일별 시간대별 승하차인원 정보_20230930.csv']
df2.head()

,연번,수송일자,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2023-01-01,1호선,150,서울역,승차,215,145,231,594,...,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2,2023-01-01,1호선,150,서울역,하차,154,636,595,939,...,2282,2295,2526,1930,1897,1487,991,609,280,46
2,3,2023-01-01,1호선,151,시청,승차,48,73,106,194,...,843,895,959,985,670,630,515,330,146,0
3,4,2023-01-01,1호선,151,시청,하차,64,247,293,463,...,602,575,533,456,285,267,246,154,79,18
4,5,2023-01-01,1호선,152,종각,승차,407,235,158,201,...,1145,1402,1223,1272,911,913,906,602,232,3

## **서울교통공사_1_8호선 역별 일별 시간대별 승객유형별 승하차인원**
- 서울교통공사 1-8호선 역별 일별 시간대별 승객유형별(일반, 어린이, 중고생, 청소년, 우대권 등) 승하차 인원 정보
- 데이터 기간 : 2015.01-2024.07
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 일단위
- 아이디어 : 승객유형 파악 가능
- 링크 : [link](https://www.data.go.kr/data/15099330/fileData.do)

In [5]:
df3 = dataframes['서울교통공사_1_8호선 역별 일별 시간대별 승객유형별 승하차인원_20231231.csv']
df3.head()

,연번,수송일자,호선명,역번호,역명,승하차구분,승객유형,06시간대이전,06-07시간대,07-08시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후
0,1,2023-07-01,1,150,서울역,승차,일반,192,192,409,...,2989,3514,3409,2686,2347,1872,2209,1885,691,7
1,2,2023-07-01,1,150,서울역,승차,어린이,0,1,3,...,33,32,30,30,30,16,11,8,4,0
2,3,2023-07-01,1,150,서울역,승차,중고생,0,0,0,...,1,1,0,0,0,0,0,0,0,0
3,4,2023-07-01,1,150,서울역,승차,청소년,0,3,12,...,47,52,54,46,47,47,54,34,13,0
4,5,2023-07-01,1,150,서울역,승차,우대권,88,105,212,...,580,608,560,381,265,277,197,121,31,2

## **서울시 지하철 호선별 역별 유_무임 승하차 인원 정보**
- 교통카드(선후불교통카드 및 1회용 교통카드)를 이용한 지하철 호선별 역별(1~9호선, 서울시 관할 운송기관에 한함) 유/무임 승하차인원을 나타내는 정보
- 데이터 기간 : 2015.01-2024.07
- 데이터 출처 : 서울 열린데이터광장
- 데이터 단위 : 월단위
- 아이디어 : 무임 승차 인원도 파악 가능
- 링크 : [link](https://data.seoul.go.kr/dataList/OA-12251/S/1/datasetView.do)

In [6]:
df4 = dataframes['서울시 지하철 호선별 역별 유_무임 승하차 인원 정보.csv']
df4.head()

      사용월  호선명  지하철역  유임승차인원  무임승차인원  유임하차인원  무임하차인원      작업일자
0  202407  1호선   동대문  230882  124946  223755  125043  20240803
1  202407  1호선    종각  997215  148133  991450  138832  20240803
2  202407  1호선  종로3가  476755  278442  440368  257534  20240803
3  202407  1호선   제기동  239978  249675  228808  265506  20240803
4  202407  1호선  종로5가  455951  243737  446910  237639  20240803

## **서울교통공사_지하철혼잡도정보**
- 서울교통공사 1-8호선 30분 단위 평균 혼잡도로 30분간 지나는 열차들의 평균 혼잡도(정원대비 승차인원으로, 승차인과 좌석수가 일치할 경우를 혼잡도 34%로 산정)
- 데이터 기간 : 2019-2024
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 분기별 업데이트
- 아이디어 : 지하철 혼잡도 파악 가능
- 링크 : [link](https://www.data.go.kr/data/15071311/fileData.do)

In [7]:
df5 = dataframes['서울교통공사_지하철혼잡도정보_20240630.csv']
df5.head()

,연번,요일구분,호선,역번호,출발역,상하구분,5시30분,6시00분,6시30분,7시00분,...,20시00분,20시30분,21시00분,21시30분,22시00분,22시30분,23시00분,23시30분,00시00분,00시30분
0,1,평일,1,150,서울역,상선,9.3,22.0,21.7,36.2,...,19.1,18.6,19.0,15.1,16.5,19.3,13.6,11.6,6.4,1.1
1,2,평일,1,150,서울역,하선,12.1,10.8,16.5,24.2,...,37.4,36.1,40.8,36.4,38.4,29.3,17.8,15.1,5.5,0.0
2,3,평일,1,151,시청,상선,9.3,16.1,18.5,29.9,...,22.6,22.9,23.7,18.5,20.7,22.5,17.9,13.5,6.7,1.4
3,4,평일,1,151,시청,하선,9.9,10.1,17.9,24.0,...,32.3,33.4,38.6,29.9,32.6,24.8,15.3,13.0,4.0,0.4
4,5,평일,1,152,종각,상선,8.8,13.8,12.0,19.6,...,29.4,30.0,32.9,24.6,27.8,28.7,25.1,15.6,7.7,1.3

## **서울교통공사_1회권 외국인 일별통행통계**
- 서울교통공사 1-8호선 1회권 외국인 일별 통행 통계 데이터
- 데이터 기간 : 2024.01-2024.06
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 일단위
- 아이디어 : 외국인 움직임 파악 가능(활용도 낮을 듯)
- 링크 : [link](https://www.data.go.kr/data/15112357/fileData.do)

In [22]:
df6 = dataframes['서울교통공사_1회권 외국인 일별통행통계_20240616.csv']
df6.head()

,연번,수송일자,호선,역명,승하차구분,권종,승객유형,04시,05시,06시,...,18시,19시,20시,21시,22시,23시,00시,01시,02시,03시
0,1,2024-01-01,1,서울역,승차,1회용교통카드,영어 일반,0,1,3,...,14,13,16,6,17,2,0,0,0,0
1,2,2024-01-01,1,서울역,하차,1회용교통카드,영어 일반,0,1,2,...,4,10,6,12,0,0,0,0,0,0
2,3,2024-01-01,1,서울역,승차,1회용교통카드,영어 어린이,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,4,2024-01-01,1,서울역,하차,1회용교통카드,영어 어린이,0,0,0,...,0,1,0,0,1,0,0,0,0,0
4,5,2024-01-01,1,서울역,승차,1회용교통카드,일어 일반,0,0,0,...,10,8,1,2,7,1,0,0,0,0

## **서울교통공사_수송순위**
- 서울교통공사 연간수송인원 수송순위에 대한 데이터
- 데이터 기간 : 2023
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 년단위 업데이트
- 아이디어 : 
- 링크 : [link](https://www.data.go.kr/data/15044243/fileData.do)

In [9]:
df7 = dataframes['서울교통공사_수송순위_20231231.csv']
df7.head()

   순위  호선  역번호       역명  연간수송인원(명)
0   1   2  239     홍대입구   39441541
1   2   2  216    잠실(2)   37873306
2   3   2  222       강남   37224977
3   4   1  150   서울역(1)   31086993
4   5   2  232  구로디지털단지   28687464

## **서울교통공사_월별 수송인원**
- 서울교통공사의 월별 수송인원 데이터
- 데이터 기간 : 2023.12
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 년단위 업데이트
- 아이디어 : 
- 링크 : [link](https://www.data.go.kr/data/15044253/fileData.do)

In [10]:
df8 = dataframes['서울교통공사_월별 수송인원_20231231.csv']
df8.head()

   연번  호선  고유역번호(외부역코드)       역명     수송연월    수송인원수
0   1   1           150   서울역(1)  2023-01  2331210
1   2   1           151    시청(1)  2023-01  1150196
2   3   1           152       종각  2023-01  1841613
3   4   1           153  종로3가(1)  2023-01  1125960
4   5   1           154     종로5가  2023-01  1159371

## **서울교통공사_월별 환승유입인원**
- 서울교통공사의 월별 환승유입인원 데이터
- 데이터 기간 : 2023.12
- 데이터 출처 : 공공데이터포
- 데이터 단위 : 연단위 업데이트
- 아이디어 : 환승 인원 파악 가능
- 링크 : [link](https://www.data.go.kr/data/15044245/fileData.do)

In [11]:
df9 = dataframes['서울교통공사_월별 환승유입인원_20231231.csv']
df9.head()

   연번  호선  고유역번호(외부역코드)       역명     수송연월  환승유입인원수
0   1   1           150   서울역(1)  2023-01   927833
1   2   1           151    시청(1)  2023-01   505103
2   3   1           152       종각  2023-01   828806
3   4   1           153  종로3가(1)  2023-01   401560
4   5   1           154     종로5가  2023-01   511397

## **서울교통공사_환승역_환승인원정보**
- 역별 요일별 (평일/토요일/일요일) 관할 환승역 환승인원 정보
- 데이터 기간 : 2024.04 기준
- 데이터 출처 : 공공데이터
- 데이터 단위 : 1년 주기로 업데이트
- 아이디어 : 환승 인원 비교
- 링크 : [link](https://www.data.go.kr/data/15062858/fileData.do)

In [12]:
df10 = dataframes['서울교통공사_환승역_환승인원정보_20231231.csv']
df10.head()

   연번       역명  평일(일평균)    토요일    일요일
0   1     가락시장    36905  24743  18296
1   2  가산디지털단지    88801  50944  40324
2   3       강남    66743  45044  29378
3   4     강남구청    60699  36720  24141
4   5       강동     5621   4057   3069

## **서울교통공사_환승역거리 소요시간 정보**
- 서울교통공사의 환승역의 환승거리, 환승소요시간에 관한 데이터 입니다
- 데이터 기간 : 2024.06.30 기준
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 
- 아이디어 : 환승거리에 따른 혼잡도 변화
- 링크 : [link](https://www.data.go.kr/data/15044419/fileData.do)

In [13]:
df11 = dataframes['서울교통공사_환승역거리 소요시간 정보_20230627.csv']
df11.head()

   연번  호선  환승역명   환승노선   환승거리 환승소요시간
0   1   1   서울역    4호선  159.0  2분13초
1   2   1   서울역   공항철도  309.0  4분18초
2   3   1   서울역  경의중앙선  164.0  2분17초
3   4   1    시청    2호선  101.0  1분24초
4   5   1  종로3가    3호선  118.0  1분38초

## **서울교통공사_열차운행현황**
- 서울교통공사의 열차운행 현황과 관련 데이터
- 데이터 기간 : 2024.06 기준
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 
- 아이디어 : 운행횟수에 따른 혼잡도 변화 계산(?)
- 링크 : [link](https://www.data.go.kr/data/3052776/fileData.do)

In [14]:
df12 = dataframes['서울교통공사_열차운행현황_20240531.csv']
df12.head()

,연번,호선,구간,영업거리,역수,소요시간,보유차량칸수,열차편성수,편성당칸수,표정속도,열차주행거리_평일,운행시격_출근,운행시격_평시,운행횟수_평일,운행횟수_휴일
0,1,1호선,서울~청량리,7.8,10,18,160,16,10,26,5064.8,3,5,588(S87/K501),535(S78/K457)
1,2,2호선,성수~성수[성수지선/신정지선],48.8[5.4/6.0],43[4/3],90[9/11],750[20/24],75[5/4],10[4/6],32.5[36.0/32.7],23728[1249.8/1344.2],2.5[7.0/10.0],5.5[10.0/10.0],528[226/220],422[208/210]
2,3,3호선,지축~오금,38.2,34,67.5,490,49,10,34,14236.4,3,6.5,407(S299/K108),369(S282/K87)
3,4,4호선,진접~남태령,45.4,26,68,530,53,10,40.1,16078.8,2.5,5.5,482(S331/K151),408(S264/K144)
4,5,5호선,방화~하남검단산/마천,59.8,56,109.5,656,82,8,32.8,20580.7,2.5,6.5,428,342

## **서울교통공사_역사운영 현황**
- 서울교통공사의 1~8호선 역사운영 현황(호선,역명,면적(제곱미터),층수,승강장유형,출입구(개소),환승노선 데이터
- 데이터 기간 : 2024년 6월 30일 기준
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 
- 아이디어 : 면적, 출입구 갯수, 환승노선 수에 따른 혼잡도 계산
- 링크 : [link](https://www.data.go.kr/data/15044440/fileData.do)

In [15]:
df13 = dataframes['서울교통공사_역사운영 현황_20240630.csv']
df13.head()

   연번   호선    역명        면적  층수 승강장유형  출입구              환승노선
0   1  1호선   서울역  10805.00  B2    섬식    9  4호선, 공항철도, 경의중앙선
1   2  1호선    시청  11317.00  B2   상대식    7               2호선
2   3  1호선    종각  10410.24  B2   상대식    7               NaN
3   4  1호선  종로3가   9311.00  B2   상대식    8          3호선, 5호선
4   5  1호선  종로5가  10465.00  B2   상대식    8               NaN

## **서울교통공사_역코드로 주변 버스정류장 검색**
- 역코드로 주변 버스정류장 검색 할 수 있는 데이터
- 데이터 기간 : 2016.09 기준
- 데이터 출처 : 공공데이터포털
- 데이터 단위 : 
- 아이디어 : 활용 가능성 낮을 듯
- 링크 : [link](https://www.data.go.kr/data/15044225/fileData.do)

In [16]:
df14 = dataframes['서울교통공사_역코드로 주변 버스정류장 검색_20160909.csv']
df14.head()

   전철역코드 외부코드 전철역명 호선    정류장명  정류장ID   (X)좌표   (Y)좌표
0   1958  310   대화  3  예비군훈련장  36262  177627  464279
1   1958  310   대화  3     대화역  36281  177715  464099
2   1958  310   대화  3     대화역  36601  177718  464073
3   1805  150   송내  1     송내역  46039  178169  443269
4   1805  150   송내  1     송내역  46731  178200  443181

# 기타 데이터

## **종관기상관측**
- 정해진 시각에 모든 관측소에서 같은 시각에 실시하는 지상관측
- 데이터 기간 : 모든 기간
- 데이터 출처 : 기상자료개방포털
- 데이터 단위 : 일단위
- 아이디어 : 날씨에 따른 혼잡도 변화
- 링크 : [link](https://data.kma.go.kr/data/grnd/selectAsosRltmList.do?pgmNo=36&tabNo=1)

In [29]:
df15 = dataframes['SURFACE_ASOS_116_MI_2024-09_2024-09_2024.csv']
df15.head()

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,116,2024-09-01 00:01,22.8,0.0,155.0,0.2,939.0,1007.5,80.9,NaN,NaN
1,116,2024-09-01 00:02,22.8,0.0,160.0,0.4,939.0,1007.5,81.0,NaN,NaN
2,116,2024-09-01 00:03,22.8,0.0,158.0,0.6,939.0,1007.5,81.1,NaN,NaN
3,116,2024-09-01 00:04,22.8,0.0,155.0,0.7,939.0,1007.5,81.2,NaN,NaN
4,116,2024-09-01 00:05,22.8,0.0,153.0,0.6,939.0,1007.5,81.2,NaN,NaN